<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header bg-info">
        <div class="d-flex align-items-center gap-2 w-100 justify-content-between">
            <div class="d-flex gap-2 align-items-center">
                <img id="UserImage" class="border rounded-5" src="~/content/user.png" width="50">
                <h6 id="UserName" class="d-flex text-center m-0"></h6>
            </div>
            <div>
                <button class="btn border-0 shadow-none w-auto smallscreen">
                    <i id="small_screen_icon" class="bi bi-fullscreen-exit text-white"></i>
                    <i id="full_screen_icon" class="bi bi-fullscreen d-none text-white"></i>
                </button>
                <button type="button" class="btn-close shadow-none text-reset btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex flex-column justify-content-between h-100">
            <div></div>
            <div class="w-100 row gap-2 mx-2">
                <div id="chats" class="ps-0"></div>
                <div class="input-group pt-5" style="padding: 10px;">
                    <input placeholder="Type a Message" id="userMessage" type="text" class="p-2 border-info rounded-1 userMessage" style="flex: 1; height: 40px;" onkeyup="showSendBtn()">
                    <button type="button" id="sendMessage" class="col-3 shadow-none sendMessage" style="display: inline-flex; padding: 0; background: none; border: none; height: 40px;" disabled>
                        <i id="send" class="bi bi-send bg-info ms-3 fw-semibold text-white rounded p-2" style="height: 40px;"></i>
                    </button>
                </div>
                <input type="hidden" id="receiverId" />
                <input type="hidden" id="ChatRequestID" />
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>