<style>
    #chats {
        overflow-y: auto;
        max-height: calc(100vh - 180px);
        color: black;
    }

    .offcanvas-body {
        position: relative;
    }

    #userMessage {
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 60px);
        border-radius: 0;
    }

    input:focus {
        box-shadow: none !important;
        border-color: #0dcaf0 !important;
    }

    #sendMessage {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60px;
        border-radius: 0;
    }

    .message-container {
        display: flex;
        justify-content: flex-start;
        max-width: 75%;
        word-wrap: break-word;
        margin-bottom: 10px;
    }

    .right-align {
        justify-content: flex-end;
        margin-left: auto;
    }

    .left-align {
        justify-content: flex-start;
        margin-right: auto;
        margin-left: 15px;
    }

    .right-align .content {
        background-color: #98FF98;
        border-radius: 7.5px 0 7.5px 7.5px;
        padding: 8px 10px;
        position: relative;
    }

        .right-align .content::after {
            content: "";
            position: absolute;
            top: 0px;
            right: -8px;
            width: 0;
            height: 0;
            border-width: 0 0 25px 15px;
            border-style: solid;
            border-color: transparent transparent transparent #98FF98;
        }

    .left-align .content {
        background-color: #8EEBEC;
        border-radius: 0 7.5px 7.5px 7.5px;
        padding: 8px 10px;
        position: relative;
    }

        .left-align .content::after {
            content: "";
            position: absolute;
            top: 0px;
            left: -13px;
            width: 0;
            height: 0;
            border-width: 21px 0 0 23px;
            border-style: solid;
            border-color: #8EEBEC transparent transparent transparent;
        }

    .content {
        padding: 10px;
        border-radius: 10px;
        max-width: 100%;
        word-wrap: break-word;
    }

        .content div {
            margin: 2px 0;
        }

        .content .time {
            font-size: x-small;
            text-align: start;
        }

    .right-align .content .time {
        text-align: end;
    }

    .custom-height {
        top: 400px !important;
    }

</style>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header bg-info">
        <div class="d-flex align-items-center gap-2 w-100 justify-content-between">
            <div class="d-flex gap-2 align-items-center me-5">
                <img id="UserImage" class="border rounded-5" src="~/content/user.png" width="50">
                <h6 id="UserName" class="d-flex text-center m-0"></h6>
            </div>
            <button class="btn border-0 shadow-none w-auto smallscreen">
                <i id="small_screen_icon" class="bi bi-fullscreen-exit ms-5 text-white"></i>
                <i id="full_screen_icon" class="bi bi-fullscreen d-none ms-5 text-white"></i>
            </button>
            <button type="button" class="btn-close shadow-none text-reset btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex flex-column justify-content-between h-100">
            <div></div>
            <div class="w-100 row gap-2 mx-2">
                <div id="chats" class="ps-0"></div>
                <div class="input-group pt-5" style="padding: 10px;">
                    <input placeholder="Type a Message" id="userMessage" type="text" class="p-2 primary rounded-1 userMessage" style="flex: 1; height: 40px;" onkeyup="showSendBtn()">
                    <button type="button" id="sendMessage" class="col-3 btn btn-primary shadow-none sendMessage" style="display: inline-flex; padding: 0; background: none; border: none; height: 40px;" disabled>
                        <i class="bi bi-send bg-info ms-3 text-white rounded p-2" style="height: 40px;"></i>
                    </button>
                </div>
                <input type="hidden" id="receiverId" />
                <input type="hidden" id="ChatRequestID" />
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script>
    function showSendBtn() {
        var inputField = $('.userMessage');
        var sendButton = $('.sendMessage');

        if (inputField.val() == "") {
            sendButton.prop('disabled', true);
        }
        else {
            sendButton.prop('disabled', false);
        }
    }

    const fullscreenExitButton = document.querySelector('.smallscreen');

    if (fullscreenExitButton) {
        fullscreenExitButton.addEventListener('click', () => {
            var current_height = document.getElementById('offcanvasRight').classList;
            if (!current_height.contains('custom-height')) {
                $('#offcanvasRight').addClass('custom-height');
                $('#small_screen_icon').addClass('d-none');
                $('#full_screen_icon').removeClass('d-none');
            }
            else {
                $('#offcanvasRight').removeClass('custom-height');
                $('#small_screen_icon').removeClass('d-none');
                $('#full_screen_icon').addClass('d-none');
            }
        });
    } else {
        Swal.fire("Oops", "Element with class \"smallscreen\" not found", "error");

    }
</script>