@* ************************************ for modal @family/friend, concierge, business request pages ************************************ *@
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pt-4 pb-4 border rounded-4">
            <div class="container d-flex flex-column pt-4 pb-4">
                <div class="container d-flex justify-content-center">
                    <i class="fa-solid fa-circle-info text-warning border-warning" style="font-size: 100px;border-radius: 100%;padding: 10px;border:2px solid yellow;"></i>
                </div>
                <div class="d-flex justify-content-center mt-3 fw-bold fs-5">
                    Information
                </div>
            </div>
            <div class="container pt-2 pb-2 text-center">
                When Submitting a request, you must provide the correct contact inforamtion for the patient or
                the responsibly party. Failure to provide the correct email and phone number will delay service
                or be declined.
            </div>
            <div class="pb-4 pt-4 d-grid col-2 mx-auto">
                <button type="button" class="btn btn-outline-info border-info fw-bold" data-bs-dismiss="modal"><span>OK</span></button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
            backdrop: 'static',
            keyboard: false
        });
        myModal.show();
    });
</script>
@* ************************************ for modal @family/friend, concierge, business request pages  ************************************ *@