@* <footer class="border-top footer text-muted">
     <div class="d-none d-sm-flex justify-content-end align-items-center bg-secondary w-100" style="height: 50px;">
        <div class="m-3">
            <a href="#" class="text-white">Terms of Conditions</a>
        </div>
        <span class="text-white m-3">|</span>
        <div class="m-3 me-5">
            <a href="#" class="text-white">Privacy Policy</a>
        </div>
    </div>
</footer> *@

<footer class="bg-dark bg-gradient fixed-bottom py-2 px-3">
    <div class="d-flex justify-content-between">
        <div class="text-start">
            <img src="~/images/hellodoc_footer.png" height="30px">
        </div>
        <div class="text-end">
            <a class="text-light" style="text-decoration:none" asp-action="Privacy" asp-controller="Patient">
                Terms of
                Conditions | Privacy policy
            </a>
        </div>
    </div>
</footer>
