<header>
    <nav class="navbar p-0 m-0 shadow nav-container">
        <div class="container-fluid ">
            <div class="logo-img ms-2">
                <a href="#">
                    <img src="~/images/hellodoc.png" alt="images" height="90px">
                </a>
            </div>
            <button class="btn btn-outline-info border border-2 border-info fs-4 px-2 py-1 rounded fw-bolder me-2" id="dark-mode-btn">
                <i id="moon" class="fa-solid fa-moon spin-icon"></i>
                <i id="sun" class="fa-solid fa-sun spin-icon d-none"></i>
            </button>
        </div>
    </nav>
</header>