/************************************************** Contact Number Width ***********************************************************************************/
.iti {
    width:100%;
}

.spin-icon {
    transition: transform 0.5s ease;
}

    .spin-icon:hover {
        transform: rotate(360deg);
    }
    
    
    /*footer color*/
.bg-footer {
    background-color: rgba(56, 56, 56, 0.7);
}
    /*Tabs color*/
.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
    color: #00bce7 !important;
}
/************************************************** ChechBox Color ***********************************************************************************/
.form-check-input:checked {
    background-color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
}
/************************************************** Telephone Booth ***********************************************************************************/
.telstyle {
    height: 60px;
    width: 100%;
}